@model AspNet.Identity.Oracle.IdentityRole

@{
    ViewBag.Title = "Delete";
}


<h3>Você tem certeza que deseja remover esta Regra? </h3>
<h2>Regra : <strong>@Html.DisplayFor(model => model.Name)</strong></h2>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sim, excluir a regra" class="btn btn-default" />
            
            @Html.ActionLink("Não, voltar", "Index")
        </div>
    }
</div>
