@model AspNet.Identity.Oracle.IdentityRole

@{
    ViewBag.Title = "Details";
}

<h1>Regra: <small>@Html.DisplayFor(model => model.Name)</small></h1>


<h4>Lista de usuários nesta regra</h4>
@if (ViewBag.UserCount == 0)
{
    <hr />
    <p>Nenhum usuário está utilizando esta regra.</p>
}

<table>
    <thead>
        <tr>
            <th>
                Usuário
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Users)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
@Html.ActionLink("Voltar para a lista", "Index")



